header
    div.header-logo
    div.header-user-info
        h1 Vladislav Mozhayskiy
        h4 Front-end Developer
    div.header-contacts
        a.header-contacts__contact(href="mailto:zombitrafik05@gmail.com")
            i.header-contacts__contact-icon.header-contacts__contact-icon-mail
            | zombitrafik05@gmail.com
        a.header-contacts__contact(href="tel:+375333067885")
            i.header-contacts__contact-icon.header-contacts__contact-icon-phone
            | +375 33 306 78 85
        a.header-contacts__contact(href="skype:zombitrafik/call")
            i.header-contacts__contact-icon.header-contacts__contact-icon-skype
            | zombitrafik