doctype html
html(lang="en")
    include ./head.pug
    body
        div.wrapper
            include ./header.pug
            include ./general-block.pug
            include ./work-experience-block.pug